/* FOR DESKTOP  */

#company-detail-content-container > div {
  color: #2c3e50;
  font-size: 20px;
}

/* parent container */
/* main grid  */
#parent {
  box-shadow: 0px 4px 6px 0px #cacaca;
}
#company-details-tab-container {
  padding: 0px 0px 0px 10px;
  /* grid-template-rows: 1fr 1fr; */
  display: grid;
  grid-template-areas: "overview  analysis";
  /* "chart chart"; */
  grid-template-columns: 1fr 1fr;
  /* overflow-x: scroll; */
  overflow-y: scroll;
  /* box-shadow: 0px 4px 6px 0px #cacaca; */
}
#bla {
  grid-area: analysis;
}
#secondary-navbar-bla {
  margin: 40px 150px 0px 0px;
}

#abc #volatility {
  visibility: hidden;
  width: 300px;
  background-color: #39abf7;
  color: #fff;
  text-align: justify;
  border-radius: 6px;
  padding: 15px 15px 15px 15px;
  font-size: 12px;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}
#voltality {
  display: flex;
  font-size: 15px;
}
#fa-question-circle {
  margin: 10px 10px 10px 5px;
}
#abc:hover #volatility {
  visibility: visible;
}

#abc {
  margin: 0px 0px 0px 10px;
}
/* child within parent container */
/* grid within grid  */

/* tabs */
#company-detail-content-container {
  /* padding: 10px 10px 10px 10px; */
  grid-template-rows: 1fr;
  display: flex;
  grid-template-areas: "a b c";
  /* "chart chart"; */
  grid-template-columns: 1fr 1fr 1fr;
  /* overflow-x: scroll; */
  overflow-y: scroll;
  grid-gap: 15px;
  list-style-type: none;
  font-size: 20px;
}

#comapany-detail-overview-li {
  grid-area: a;
  /* color: red; */
  /* margin: 50px 50px 50px 50px; */
}
#company-detail-financial-li {
  grid-area: b;
  /* color: yellowgreen; */
}

#secondary-download-button {
  grid-area: c;
}

.options-selected-li {
  font-weight: 600;
  cursor: pointer;
  /* padding-bottom: 7px; */
  color: #2980b9;
  border-bottom: 3px solid #2980b9;
}
.options-li {
  color: #272727;

  text-align: center;
}
.company-link {
  text-decoration: none;
}

/* for image and ticker name grid  */

#secondary-navbar-img-name-container {
  display: flex;
}

#secondary-navbar-ticker_name {
  margin: 18px 10px 10px 10px;
  font-size: 25px;
  color: #2c3e50;
  font-weight: bold;
}
#secondary-navbar-img {
  margin: 30px 10px 10px 10px;
}
#last_date {
  font-size: 12px;
  color: #707070;
}
#indexClose {
  float: left;
  text-align: center;
  font-size: 17px;
  font-weight: bold;
}
#secondary-navbar-sub {
  font-size: 10px;
}

/* FOR MOBILE  */
@media only screen and (max-width: 426px) {
  #company-details-tab-container {
    padding: 0px 0px 0px 10px;
    /* grid-template-rows: 2fr; */
    display: grid;
    grid-template-areas:
      "overview"
      " financial";
    grid-template-columns: 1fr;
    /* overflow-x: scroll; */
    overflow-y: scroll;
    box-shadow: 0px 4px 6px 0px #cacaca;
  }

  #secondary-nav-values {
    grid-area: 2/4;
    grid-column: 1/4;
  }
  #secondary-navbar-img-name-container {
    grid-area: 1/4;
    grid-column: 1/4;
  }
  #bla {
    grid-area: 3/4;
    grid-column: 1/4;
  }
}
