@import url(https://fonts.googleapis.com/css?family=Karla);

* {
  font-family: Karla;
  scroll-behavior: smooth;
}

.financialsMainGrid {
  margin-top: 10px;
  width: 100%;
  grid-template-rows: auto;
  grid-template-columns: auto;
  display: grid;
  grid-template-areas: "table";
}

.financialsTitle {
  font-size: 20px;
}
.financialsSidebar {
  display: none;
}
.financialsAllTablesDiv {
  grid-area: table;
  display: block;
  height: 500px;
  overflow-y: scroll;
  padding: 5px 15px 65px 15px;
  text-align: center;
}

@media only screen and (min-width: 426px) {
  .financialsMainGrid {
    margin-top: 10px;
    width: 100%;
    grid-gap: 10px;
    grid-template-rows: auto;
    grid-template-columns: 100px auto;
    display: grid;
    grid-template-areas: "side tables";
  }
  .financialsSidebar {
    display: block;
    height: 580px;
    grid-area: side;
    /* background: #2c80d4; */
    border-right: 1px solid #2c3e50;
  }
  .financialsAllTablesDiv {
    grid-area: tables;
    display: block;
    height: 580px;
    overflow-y: scroll;
    padding: 20px 100px 250px 100px;
  }
  .financialsTitle {
    font-size: 30px;
    text-align: left;
  }

  /* sidebar css */
  .financialsSidebarOptions {
    width: 100%;
    grid-template-rows: auto auto auto autp;
    grid-template-columns: 100px;
    text-align: center;
    display: grid;
    grid-template-areas:
      "bs"
      "cf"
      "pl"
      "ratios";
  }
  .financialsSidebarOptions #item1 {
    display: block;
    height: 145px;
    grid-area: bs;
    text-decoration: none;
  }
  .financialsSidebarOptions #item2 {
    grid-area: cf;
    height: 145px;
    display: block;
    text-decoration: none;
  }
  .financialsSidebarOptions #item3 {
    display: block;
    height: 145px;
    grid-area: pl;
    text-decoration: none;
  }
  .financialsSidebarOptions #item4 {
    grid-area: ratios;
    height: 145px;
    text-decoration: none;
    display: block;
  }
  .financialsSidebarItem {
    background-color: #39abf7;
    color: white;
  }
  .financialsSidebarOptionsP {
    font-size: 13px;
    font-weight: bold;
  }
}
