/* FOR MOBILE  */

#analysis_main_container {
  background-color: #ffffff;
  filter: blur(8px);
  -webkit-filter: blur(8px);
  height: 10vh;
}

#compare_analysis {
  margin: 10px 0px 0px 0px;
  display: flex;
  text-align: center;
}
#compare_analysis p {
  margin: -5px 15px 0px 0px;
  font-size: 14px;
  color: #2c3e50;
}
#company-analysis-similar-cimpany-dropdown {
  padding: 20px 50px 20px 50px;
}
#analysis-stock-chart {
  padding: 20px 50px 20px 50px;
}
#analysis_graph_title {
  text-align: center;
  font-size: 20px;
}
#analysis-price-summary {
  background-color: #cacaca;
  padding: 20px 50px 20px 50px;
}

/* FOR RECOMMENDATION  */

#analysis-recommendation-grid-container {
  display: grid;
  grid-template-areas: "company1" "company2";
  grid-template-columns: 1fr 1fr;
  padding: 20px 50px 20px 50px;
}
#analysis-recommendation-1 {
  grid-area: company1;
  text-align: center;
}

#analysis-recommendation-2 {
  grid-area: company2;
  text-align: center;
}

/* FOR FINANCIAL POSITIONAL GRAPH  */

#analysis-financial-positional-grid-container {
  display: grid;
  grid-template-areas:
    "financial-graph-1"
    "financial-graph-2";
}

#analysis-financial-positional-1 {
  grid-area: "financial-graph-1";
  text-align: center;
}
#analysis-financial-positional-2 {
  grid-area: "financial-graph-2";
  text-align: center;
}
#analysis-gauge-1 {
  width: 250px;
}
#analysis-gauge-2 {
  width: 250px;
}

#analysis-financial-positional-1 {
  display: none;
}

#analysis-financial-positional-2 {
  display: none;
}

#company_analaysis_table {
  padding: 15px 0px 0px 0px;
  text-align: center;
}

/* FOR DESKTOP  */
@media screen and (min-width: 480px) {
  #analysis-recommendation-grid-container {
    display: grid;
    grid-template-areas: "company1 company2";
    grid-template-columns: 1fr 1fr;
    padding: 20px 50px 20px 50px;
  }
  #analysis-recommendation-1 {
    grid-area: company1;
  }

  #analysis-recommendation-2 {
    grid-area: company2;
  }

  /* FOR FINANCIAL POSITION GRAPH 
   */
  #analysis-financial-positional-grid-container {
    display: grid;
    grid-template-areas: "financial-graph-1  financial-graph-2";
    padding: 20px 50px 20px 50px;
  }

  #analysis-financial-positional-1 {
    grid-area: "financial-graph-1";
  }
  #analysis-financial-positional-2 {
    grid-area: "financial-graph-2";
  }
  #analysis-gauge-1 {
    width: 500px;
  }
  #analysis-gauge-2 {
    width: 500px;
  }
  #analysis-financial-positional-1 {
    display: contents;
  }
  #analysis-financial-positional-2 {
    display: contents;
  }
  #compare_analysis p {
    margin: 5px 15px 0px 0px;
    font-size: 18px;
  }
  #compare_analysis {
    text-align: left;
  }
  #company_analaysis_table {
    margin: auto;
    padding: 20px 0px 0px 0px;
    text-align: center;
    width: 92%;
  }
}
