/* FOR MOBILE  */

#company-detail-grid-container {
  padding: 10px 10px 10px 10px;
  grid-template-rows: 1fr;
  display: grid;
  grid-template-areas:
    "profile"
    "recommendation";
  grid-template-columns: 1fr;
  font-size: 10px;

  text-align: justify;
}

#company-detail-recommendation {
  grid-area: recommendation;
}
#company-detail-profile {
  grid-area: profile;
}
#company-detail-profile > h3 > span {
  /* color: red; */
  color: #707070;
  font-size: 20px;
}
#h3 {
  color: red;
}

/* FOR DESKTOP  */
@media screen and (min-width: 480px) {
  #company-detail-grid-container {
    padding: 20px 50px 20px 50px;
    grid-template-rows: 1fr;
    display: grid;
    grid-template-areas: "profile recommendation";
    /* "chart chart"; */
    grid-template-columns: 1fr 1fr;
    /* overflow-x: scroll; */
    /* overflow-y: scroll; */
  }

  #company-detail-profile > h3 {
    /* color: #707070; */
    font-size: 20px;
    text-align: justify;
  }

  /* .profile {
} */

  #company-detail-profile {
    grid-area: profile;
    /* border: 1px solid; */
    top: 50%;
    bottom: 0;

    font-size: 100px;
  }

  #company-detail-recommendation {
    grid-area: recommendation;
    text-align: center;
    /* height: 102px; */
    /* border: 2px solid black; */
  }

  #img_gauge {
    width: 100px;
  }

  #test {
    border-left: 1px solid #cacaca;
    height: 500px;
    margin-top: 100px;
  }
}
