@import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
@import url(https://fonts.googleapis.com/css?family=Karla);
* {
  font-family: Karla;
}
.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: fixed;
  left: 0;
  bottom: 0;
  height: 40px;
  width: 100%;
  background-color: #2c3e50;
  color: white;
  text-align: center;
}
.footer-p {
  margin-right: auto;
  padding-top: 10px;
  padding-left: 10px;
  font-size: 15px;
}
.footer-follow {
  margin-left: auto;
}
.footer-fab {
  padding-top: 10px;
  padding-right: 25px;
  font-size: 20px;
}

@media (max-width: 768px) {
  .footer {
    height: 25px;
  }
  .footer-p {
    padding-top: 5px;
    padding-left: 5px;
    font-size: 12px;
  }
  .footer-fab {
    padding-top: 5px;
    padding-right: 10px;
    font-size: 10px;
  }
}
