@import url(https://fonts.googleapis.com/css?family=Karla);

* {
  font-family: Karla;
  user-select: none;
}

::-webkit-scrollbar {
  display: none;
}

#homecontainer {
  width: 97%;
  margin: 20px auto;
  display: grid;
  grid-template-columns: 300px repeat(2, 1fr) 300px;
  grid-gap: 30px;
}

#homeleftsidecontainer {
  /* grid-area: news; */
  grid-column: 1/2;
  height: 580px;
  overflow-x: hidden;
  padding: 10px;
  background-color: #fff;
  box-shadow: 0px 4px 6px 2px #cacaca;
  overflow-y: scroll;
}

#homeleftsidecontainer h1 {
  text-align: center;
  color: #2c3e50;
  padding: 0;
}

#newsdivider hr {
  color: #2c3e50;
  border-top: 1px solid #2c3e50;
}
#homemiddlecontainer {
  grid-column: 2/4;
  height: 580px;
  padding: 20px;
  overflow-x: hidden;
  background-color: #fff;
  box-shadow: 0px 4px 6px 2px #cacaca;
  overflow-y: scroll;
}
#homerightsidecontainer {
  grid-column: 4/-1;
  height: 580px;
  overflow-x: hidden;
  font-size: 16px;
  background-color: #fff;
  box-shadow: 0px 4px 6px 2px #cacaca;
  overflow-y: scroll;
}
#image {
  width: 100%;
  height: 350px;
}

#recent-news-title {
  cursor: pointer;
}

#homerightsidecontainer h1 {
  text-align: center;
  color: #2c3e50;
  padding: 0;
}

#indicesdivider hr {
  color: #fafafa;
  border-top: 1px solid #2c3e50;
}

#positiveIndex {
  color: #27ae60;
}

#negativeIndex {
  color: #ff4d4d;
}

#homeIndicesTable {
  border-collapse: collapse;
  border-spacing: 0;
  text-align: center;
  width: 100%;
  margin: auto;
}

#homeIndicesTable td {
  padding: 15px;
}

#homeIndicesTable tr:nth-child(odd) {
  background-color: #fafafa;
}

#homeIndicesTable th {
  text-align: left;
}

#homeIndicesTable tr:nth-child(1) {
  font-weight: bold;
  background: #fafafa;
}

#indicesName {
  cursor: pointer;
}

#indicesName:hover {
  color: #39abf7;
}
