@import url(https://fonts.googleapis.com/css?family=Karla);
* {
  font-family: Karla;
}

#indicesMainContainer {
  width: 97%;
  margin: 5px auto;
  display: grid;
  grid-template-rows: 250px 250px 250px;
  grid-gap: 10px;
}

@media screen and (min-width: 430px) {
  #indicesMainContainer {
    width: 97%;

    margin: 5px auto;
    display: grid;
    grid-template-rows: 120px 250px 250px;
    grid-gap: 10px;
  }

  #indicesLeftContainer {
    font-size: 20px;
  }

  #indicesLeftContainer hr {
    border: 1px solid #cacaca;
  }

  #losersGainersContainer {
    display: grid;
    grid-template-columns: 50% 50%;
  }

  #losersGainersContainer h3 {
    color: #fff;
    width: 90%;
    margin: 0px auto;
    font-family: Karla;
    background-color: #2c3e50;
    border-radius: 5px;
  }
}
