@import url(https://fonts.googleapis.com/css?family=Karla);
@import url("https://www.w3schools.com/w3css/4/w3.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
* {
  font-family: Karla;
}

#loginMainContainer {
  width: 100%;
  margin: 0px auto;
  height: 510px;
  grid-template-columns: "side1";
  background-color: #3e5871;
  display: grid;
  text-align: center;
}

#loginLeftContainer {
  color: #fff;
  font-size: 18px;
}

#welcome {
  font-size: 34px;
}

#loginRightContainer {
  color: #fff;
  padding: 5 px;
}

#loginInput {
  border: none;
  outline: none;
  background: transparent;
  color: #fff;
  border-bottom: 1px solid #cacaca;
  padding: 15px;
  width: 70%;
  font-size: 16px;
}

#loginInput::placeholder {
  color: #b0b0b0;
}

#loginInput:focus,
#loginInput:active {
  transform: scaleX(1.1);
  border-bottom: 2px solid #39abf7;
}

#loginFormButton {
  padding: 15px;
  background: transparent;
  outline: none;
  font-size: 16px;
  border: 3px solid #39abf7;
  color: #fff;
  margin-top: 20px;

  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
}

#loginFormButton:hover {
  right: 0;
  background-color: #39abf7;
  box-shadow: 0 12px 16px 0 rgba(231, 226, 226, 0.24),
    0 17px 50px 0 rgba(231, 226, 226, 0.24);
}

#loginFormButton::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}

#loginErrorMessage {
  color: #ff4d4d;
  font-size: 14px;
}

#loginComponentButton {
  background: transparent;
  color: #cacaca;
  outline: none;
  padding: 20px;
  cursor: pointer;
  font-weight: 500;
  font-size: 20px;
  border: none;
}

#loginComponentButton-active {
  background: transparent;
  color: #fff;
  outline: none;
  padding: 20px;
  font-size: 20px;
  border: none;
  border-bottom: 2px solid #39abf7;
}

#registerComponentButton-active {
  background: transparent;
  color: #fff;
  outline: none;
  padding: 20px;
  font-size: 20px;
  border: none;
  border-bottom: 2px solid #39abf7;
}

#registerComponentButton {
  background: transparent;
  color: #cacaca;
  cursor: pointer;
  outline: none;
  padding: 20px;
  font-weight: 500;
  font-size: 20px;

  border: none;
}

#registerResetPassword {
  margin-left: 310px;
  color: #39abf7;
}

@media screen and (min-width: 430px) {
  #loginMainContainer {
    height: 675px;
    grid-template-columns: repeat(2, 1fr);
  }
  #loginMainContainer > div:nth-child(2) > form input {
    width: 50%;
  }

  #loginLeftContainer {
    grid-column: 1/2;
  }

  #loginRightContainer {
    grid-column: 2/-1;
  }

  #loginMainContainer > div:nth-child(2) {
    margin: auto 0px;
  }

  #loginMainContainer > div:nth-child(1) {
    margin: 150px auto;
  }

  #loginLeftContainer > h1 {
    font-size: 60px;
  }

  #loginLeftContainer > p {
    font-size: 40px;
  }
}
