@import url(https://fonts.googleapis.com/css?family=Karla);
 * {
    font-family: Karla;
  }
/* Desktop view */
  .navbarHS {
    overflow: hidden;
    background-color: #2c3e50;
    box-shadow: 0px 1px 5px black;
    position: relative;
   }

   .navbarLogoName {
     float: left;
   } 

   .navbarLoginOptions span {
     float: right;
   }
   .navbarStockOptions span {
    float: left;
    margin-left: 35%;
   }
   .navbarSearchBox {
      float: left;
      width: 32%;
      display: block;
      /* margin: 15px;*/
      padding: 0px 4%; 
   }
   .navbarSearchSpan {
     padding: 12px 16px !important;
   }
   .navbarSearchBox input {
     border-radius: 5px;
     border: none;
     width: 100%;
     /* min-width: 300px; */
     height: 27px;
     text-align: center;
   }
  .navbarHS span {
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
    font-family: Karla;
  }

  .navbarHS .linkdecornone{
    text-decoration: none;
    color: #f2f2f2;
  }

  .navbarlogoimage {
    float: left;
    margin: 0px 0px 0px 0px;
  }
  
  /* .navbarHS span:hover {
    background-color: #ffffff;
    color: black;
  } */
  
  .navbarHS span.active {
    background-color: #39abf7;
    color: white;

  }
  
  .navbarHS .icon {
    display: none;
  }
  
  /* Mobile view */
  @media screen and (max-width: 600px) {
    .navbarHS.responsiveHS {
      position: relative;
    }
  
    .navbarHS.responsiveHS .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .navbarHS.responsiveHS span {
      float: none;
      display: block;
      text-align: center;
    }
    .navbarLoginOptions span {
      margin-top: 60px;
      display: none
    }
     
    .navbarStockOptions span {
      display: none;
      margin-left: 0px;
     
   }
   .navbarSearchBox {
    float: left;
    display: block;
    /* position: fixed; */
    /* margin: 70px 0 0 0; */
    /* padding: 0px 10px 0px 25px; */
    padding: 0px 0px; 
    width: 100%;
    
    
  }
  .navbarSearchBox span {
    /* margin-top: 60px; */
    display: none
  }
  .navbarSearchBox input {
    border-radius: 5px;
    border: 1px solid #2c3e50;
    width: 340px;
     text-align: center;
  }
   .navbarHS span:not(:first-child) {display: none;}
    .navbarHS span.icon {
      float: right;
      display: block;
      position: fixed;
      top: 0;
      right: 0;
      color: #39abf7;
    }
  }