@import url(https://fonts.googleapis.com/css?family=Karla);
@import url("https://www.w3schools.com/w3css/4/w3.css");
* {
  font-family: Karla;
}

#registerMainContainer {
  width: 100%;
  grid-template-columns: "side1";
  background-color: #3e5871;
  display: grid;
  text-align: center;
  user-select: none;
}

#registerLeftContainer {
  color: #fff;
  font-size: 20px;
}

#welcome {
  font-size: 40px;
}

#registerRightContainer {
  color: #fff;
  padding: 20px;
}

#registerInput {
  border: none;
  outline: none;
  background: transparent;
  color: #fff;
  border-bottom: 1px solid #cacaca;
  padding: 18px;
  width: 70%;
  font-size: 16px;
}

#registerInput::placeholder {
  color: #b0b0b0;
}

#registerInput:focus,
#registerInput:active {
  transform: scaleX(1.1);
  border-bottom: 2px solid #39abf7;
}

#registerFormButton {
  padding: 15px;
  background: transparent;
  outline: none;
  font-size: 16px;
  border: 3px solid #39abf7;
  color: #39abf7;
  margin-top: 20px;
  cursor: pointer;
}

#registerErrorMessage {
  color: #ff4d4d;
  font-size: 14px;
}

#loginButton {
  background: transparent;
  color: #cacaca;
  outline: none;
  padding: 20px;
  font-weight: 500;
  font-size: 20px;
  border: none;
  cursor: pointer;
}

#loginButton-active {
  background: transparent;
  color: #fff;
  outline: none;
  padding: 20px;
  font-size: 20px;
  border: none;
  border-bottom: 2px solid #39abf7;
}

#registerButton-active {
  background: transparent;
  color: #fff;
  outline: none;
  padding: 20px;
  font-size: 20px;
  border: none;
  border-bottom: 2px solid #39abf7;
}

#registerButton {
  background: transparent;
  color: #cacaca;
  outline: none;
  padding: 20px;
  font-weight: 500;
  font-size: 20px;
  cursor: pointer;
  border: none;
}

#registerResetPassword {
  margin-left: 310px;
  color: #39abf7;
}

#registerFormButton:hover {
  color: #fff;
  right: 0;
  background-color: #39abf7;
  box-shadow: 0 12px 16px 0 rgba(231, 226, 226, 0.24),
    0 17px 50px 0 rgba(231, 226, 226, 0.24);
}

@media screen and (min-width: 430px) {
  #registerMainContainer {
    grid-template-rows: 675px;
    grid-template-columns: repeat(2, 1fr);
  }
  #registerMainContainer > div:nth-child(2) > form input {
    width: 50%;
  }

  #registerMainContainer > div:nth-child(2) {
    margin: auto 0px;
  }

  #registerMainContainer > div:nth-child(1) {
    margin: 150px auto;
  }

  #registerLeftContainer > h1 {
    font-size: 60px;
  }

  #registerLeftContainer > p {
    text-align: left;
    font-size: 30px;
  }
}
