#resetPasswordErrorMessage {
  color: #ff4d4d;
  font-size: 14px;
}
#resetPasswordForm {
  background: transparent;
}

#resetPasswordMainContainer {
  height: 483px;
  text-align: center;
  background-color: #2c3e50;
}

#resetPasswordInput {
  border: none;
  outline: none;
  background: transparent;
  color: #fff;
  border-bottom: 1px solid #cacaca;
  padding: 18px;
  width: 70%;
  font-size: 16px;
}

#resetPasswordInput:focus,
#resetPasswordInput:active {
  transform: scaleX(1.1);

  border-bottom: 2px solid #39abf7;
}

#resetPasswordButton {
  padding: 15px;
  background: transparent;
  outline: none;
  font-size: 16px;
  border: 3px solid #39abf7;
  color: #39abf7;
  margin-top: 40px;
  cursor: pointer;
}

#resetButton {
  background: transparent;
  color: #fff;
  outline: none;
  padding: 20px;
  font-size: 20px;
  border: none;
  border-bottom: 2px solid #39abf7;
  /* margin-bottom: 20px; */
}

@media screen and (min-width: 430px) {
  #resetPasswordMainContainer {
    height: 657px;
    text-align: center;
  }

  #resetPasswordInput {
    width: 25%;
  }

  #resetPasswordForm {
    height: auto;
    width: 100%;
  }
}
