* {
  font-family: Karla;
}

#stocks_main_container {
  margin: 15px;
}

#stocks_main_container p {
  font-size: 34px;
  font-weight: 600;
}

#stocks_main_grid_container {
  margin: 30px;
}

#stocks_grid_container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 15px;
}

#stocks_grid_details {
  border: 1px solid #707070;
  border-radius: 8px;
  padding: 10px;
  text-align: center;
}

#stocks_img {
  border-radius: 50px;
}

#stocks_name {
  font-size: 30px;
  font-weight: 600;
}

#stocks_ticker {
  font-size: 20px;
  color: #707070;
}

#stocks_flex_details {
  display: flex;
  justify-content: center;
}

#stocks_details_title {
  color: #707070;
  margin-right: 5px;
}

#stocks_details {
  color: black;
  font-size: 16px;
  /* font-weight: 600; */
}

/* ------------------------------------------------------------------------------ */

@media only screen and (max-width: 1024px) {
  #stocks_grid_container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media only screen and (max-width: 920px) {
  #stocks_grid_container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media only screen and (max-width: 755px) {
  #stocks_grid_container {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: 466px) {
  #stocks_grid_container {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: 426px) {
  #stocks_grid_container {
    grid-template-columns: 1fr;
  }
}
