* {
  font-family: Karla;
}

#stocks_main_container {
  margin: 15px;
}

#stocks_main_container p {
  font-size: 34px;
  font-weight: 600;
}

#stocks_grid_container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
}
