/* .ticker__table tr:last-child {
  border-bottom: 2px solid #1c2030;
} */

.ticker__table {
  width: 100%;
  height: auto;
  border-collapse: collapse;
  border-radius: 10px;
}

.ticker__tableHeader {
  background-color: #2c3e50;
  color: #fff;
  border-radius: 8px;
  width: 80%;
}

.ticker__table td {
  padding: 10px;
  text-align: center;
  color: #2c3e50;
}

.ticker__table th {
  padding: 10px;
  /* background-color: var(--table-header-background); */
  color: var(--blue-color);
}
.ticker__table tr:nth-child(odd) {
  background-color: var(--table-header-background);
}

#tcikerNameReuse:hover {
  color: #39abf7;
}
/* @media (max-width: 480px) {
  .table__container {
    max-width: 400px;
    position: relative;
    margin: 50px auto;
    overflow: hidden;
  }
  .ticker__table {
    overflow-x: scroll;
    overflow-y: visible;
  }
  .ticker__table tr:first-child {
    position: absolute;
    visibility: visible;
  }
} */
